* li {
  list-style: none;
  color: black;
}
.accordion-item .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  transform: scale(0.7) !important;
}
.accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
}
nav {
  color: orange;
}
.lang {
  margin-right: 18%;
}
.nav-link:active {
  color: black;
}
.category {
  background-color: rgb(228, 228, 228);
  padding: 3%;
}
.price-range {
  border: 1px solid #e0e0e0;
}
.price-range input {
  padding: 3%;
}
.form-label {
  padding: 3%;
}
.color {
  border: 1px solid #e0e0e0;
  margin: 15px 0;
}
.color span {
  height: 30px;
  width: 30px;
  margin: 5px 10px;
  border-radius: 50%;
  border: 2px solid white;
  outline: 1px solid #e0e0e0;
}
.size {
  border: 1px solid #e0e0e0;
  margin: 15px 0;
}
.size span {
  height: 40px;
  width: 40px;
  margin: 10px 10px;
  padding: 2%;
  justify-content: center;
  border: 1px solid #e0e0e0;
}
.buttons {
  border: 1px solid #e0e0e0;
  text-align: center;
}
.buttons button {
  padding: 5px 35px;
  margin: 5px 10px;
  border-radius: 0;
  color: white;
}
/* cards */
.dropdown-toggle {
  color: white;
}
.position-absolute {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: orange;
  color: white;
  text-align: center;
  padding: 2%;
  right: 3%;
  top: 3%;
}
.price span:first-child {
  color: orange;
}
.price span:nth-child(3) {
  color: rgb(0, 158, 0);
}
.checked {
  color: orange;
}

/* section2 */
#section2 i {
  color: orange;
  font-size: xx-large;
  padding: 2% 10%;
}
/* footer */
footer .col-3 {
  padding: 2% 0;
}
footer h5 {
  padding-bottom: 1%;
}
.icons i {
  width: 30px;
  height: 30px;
  background-color: white;
  margin: 1% 3%;
  padding: 2%;
}
footer li {
  text-align: start;
}
